<section class="main-sec flex">
	<div class="left-sec flex">
		<div class="greem">
			<h1>Need A Website For You Bussines</h1>
		<div class="desc-c flex"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</span></div>
		</div>
	</div>
	<div class="right-sec flex">
		<div class="box-curve"></div>
		<div class="img-round"></div>
		<div class="imageSlider"></div>
	</div>
</section>